.btn_styles {
  display: inline-block;
  max-width: 100%;
  line-height: 1;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 0;

  &:hover {
    text-decoration: none;
    outline: none;
  }
  &:focus {
    animation-name: none;
    outline: none;
  }
}

.pink_btn {
  @extend .btn_styles;

  line-height: 44px;
  padding: 0 30px;
  background-color: #17335a;
  color: #fff;
  border-radius: 0.3em;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.4);

  i {
    margin-right: 7px;
    vertical-align: middle;

    &.right {
      margin-right: 0;
      margin-left: 7px;
    }
  }
  &:hover {
    color: #fff !important;
    background-color: darken(#17335a, 5%);
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.4);
  }
}