.wpcf7 {
  .Pc4uCF7lookupControls {
    font-size: 0;

    #pc4upostcode_Postcode {
      margin-bottom: 24px !important;
      font-size: 16px;

      @include media-breakpoint-up(md) {
        width: calc(100% - 120px - 30px);
        margin-right: 30px !important;
      }
    }
    #pc4uCF7Lookup_Postcode {
      @extend .pink_btn;

      width: 100%;
      margin: 0 !important;
      font-size: 16px;

      @include media-breakpoint-up(md) {
        width: 120px;
      }
    }
    .type_select {
      margin-bottom: 24px;

      #pc4uCF7Dropdown_Postcode {
        font-size: 16px;
      }
    }
    .ajax-loader {
      display: none;
    }
  }
  .wpcf7-form-control-wrap.Address1,
  .wpcf7-form-control-wrap.Address2 {
    margin-bottom: 24px;
  }
}