.l-header ~ .l-section:first-of-type {
  background-color: #262626;

  .l-section-h {
    padding: 40px 0;
  }

  .wpb_wrapper {
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & > *:first-of-type {
      font-size: 24px;
      color: #fff;
      margin: 0;
    }
  }
}

.l-section ~ .l-section {
  padding: 0 !important;
}

.g-breadcrumbs {
  color: #fff;
  margin: 0;
  text-align: center !important;

  @include media-breakpoint-up(lg) {
    text-align: right;
  }

  a {
    color: #fff;
  }
}