.wpcf7-form {
  padding: 0 !important;

  &.with_shadow {
    padding: 25px 50px !important;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  }
}
.input-col {
  margin-bottom: 24px;

  .input {
    textarea, input, select {
      padding: 8px;
      line-height: inherit;
      margin: 0 !important;
    }
    textarea, select, input:not([type="submit"]) {
      border: 1px solid rgb(232, 232, 232);
    }
    .wpcf7-form-control-wrap.type_select:after {
      background-color: transparent;
      top: 50%;
      transform: translateY(-50%);
    }
    .wpcf7-list-item-label {
      padding-left: 25px;

      &:before {
        top: 0;
        left: 0;
      }
    }
  }
}

.mortgage-calculator,
.property-enquiry-form,
.propertyhive-ordering,
.w-form-h {
  textarea, input, select {
    padding: 8px;
    line-height: inherit;
    margin-bottom: 15px !important;
  }
  textarea, select, input:not([type="submit"]) {
    border: 1px solid rgb(232, 232, 232);
  }
}