.meet_out_team {
  & > .branch {
    text-align: center;
    margin-bottom: 30px;

    .title {
      margin-bottom: 10px;
    }
    .btn {
      @extend .pink_btn;

      margin-top: 10px;
      background: none;
      border: 2px solid #f47f3e;
      color: inherit;
      line-height: 30px;
      height: 34px;
      font-size: 20px;

      &:hover {
        background: none;
        color: inherit !important;
      }
    }
  }
  & > .member {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 60px;
    position: relative;

    img {
      border-radius: 50%;
      border: 1px solid #eee;
    }
    .title {
      font-size: 16px;
      color: #bbb;
      margin-top: 20px;
      display: inline-block;

      .name {
        display: block;
        color: #333;
        text-transform: uppercase;
      }
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 50%;
      width: 50%;
      transform: translateX(-50%);
      border-bottom: 2px solid #f47f3e;
    }
  }
  &.member {
    text-align: center;

    .image {
      width: 100%;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      border: 1px solid #eee;

      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
    .title {
      margin-top: 40px;
      margin-bottom: 70px;
      padding-bottom: 20px;
      font-size: 30px;
      position: relative;
      color: #bbb;

      .name {
        text-transform: uppercase;
        color: #333;
      }
      &:after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
        border-bottom: 2px solid #f47f3e;
      }
    }
  }
}