.miniature{
  display: block;
}
.miniature.full{
  width: 100%;
  height: auto;
}
.miniature.center{
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px){
  .miniature{
    margin-bottom: 40px;
  }
  .miniature.left,
  .miniature.right{
    max-width: 400px;
    height: auto;
  }
  .miniature.left{
    float: left;
    margin-right: 20px;
  }
  .miniature.right{
    float: right;
    margin-left: 20px;
  }
}
@media (max-width: 767px){
  .miniature{
    margin-bottom: 20px;
  }
  .miniature.left,
  .miniature.right{
    max-width: none;
    width: 100%;
    height: auto;
  }
}