.admin-bar {
  .fancybox-slide {
    padding: 46px 0 0 0;

    @media (min-width: 782px) {
      padding: 32px 0 0 0;
    }
  }
}

.upfront-home-buying-costs_popup,
.mortgage-fees-and-costs_popup,
.costs-of-moving-day_popup {
  width: 992px;
  max-width: 100%;
  border: 2px solid #f47f3e;
  height: 100%;
  padding: 0;
  overflow: visible;

  @include media-breakpoint-up(lg) {
    height: 80%;
  }

  .fancybox-close-small {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 0;
    border: 2px solid #f47f3e;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    z-index: 999;
    opacity: 1;

    svg path {
      fill: #f47f3e;
    }
  }
  .flex {
    display: flex;
    flex-direction: column;
    height: 100%;

    .title {
      padding: 15px 44px;
      background: #f47f3e;
      color: #fff;
      margin: 0;
    }
    .body {
      @extend .scrollbar;

      padding: 44px;
      overflow-y: scroll;
    }
  }
}