section.reviews {
  padding: 20px 0;
  background: #D0D0D0;
  color: #F77F34;
  font-size: 20px;
  line-height: 1.3;

  a {
    color: inherit;
    text-decoration: none;
  }
  .rating, .text {
    margin-bottom: 15px;
  }
  .rating {
    text-align: center;
    font-size: 24px;
  }
  .date {
    text-align: right;
  }
}