.scrollbar {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-left: 2px solid #f47f3e;
    border-right: 2px solid #f47f3e;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #333;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #333;
  }
}