.widget-register-requirements {
  background-color: #f2f2f2;
  padding: 20px;

  .pink_btn {
    background-color: #f47f3e;
    padding: 0 15px;
  }
}
.widget {

  h5 {
    padding-top: 0;
  }

  .w-separator {
    margin: 10px 0;
  }

  &.widget_nav_menu {
    .menu-item.current-menu-item > a,
    .menu-item.current-menu-item + .menu-item > a {
      border-color: #e0e0e0 !important;
    }

    .current-menu-item {
      font-weight: bold;

      a {
        color: #f47f3e !important;
      }
    }
  }

  button[type="submit"] {
    @extend .pink_btn;

    &:before {
      display: none;
    }
  }

  .w-form {
    padding: 0;

    .w-form-row {
      input {
        margin: 0 !important;
      }
    }
  }
}