.testimonials {
  font-size: 20px;
  line-height: 1.3;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;
    background: #F3F3F3;
    margin-bottom: 20px;
    padding: 20px 30px;

    &:hover {
      background: darken(#F3F3F3, 5%);
    }
  }
  .rating, .name, .text {
    margin-bottom: 15px;
  }
  .rating {
    text-align: center;
    font-size: 24px;
    color: #F77F34;
  }
  .date {
    text-align: right;
  }
}