section.hero {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
  .hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .hover-btn {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
      bottom: 50px;
    }
    @include media-breakpoint-up(lg) {
      bottom: 80px;
    }
    @include media-breakpoint-up(xl) {
      bottom: 150px;
    }
  }
  .h1 {
    color: #15335a;
    font-size: 30px;

    @include media-breakpoint-up(md) {
      font-size: 40px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  .h4 {
    color: #f47f3e;
    margin-bottom: 20px;
    font-size: 20px;

    @include media-breakpoint-up(md) {
      font-size: 28px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 35px;
    }
  }
  input[type="text"] {
    color: #15335a !important;
    border: 2px solid #15335a;
    border-radius: 10px;
    padding: 0 15px;
    font-weight: bold;
    line-height: 30px;
    height: 34px;

    @include media-breakpoint-up(md) {
      line-height: 40px;
      height: 44px;
    }
    @include media-breakpoint-up(lg) {
      line-height: 50px;
      height: 54px;
    }

    &::placeholder {
      color: #15335a;
      opacity: 1;
    }
    &:focus {
      box-shadow: none;
    }
  }
  input[type="submit"], a {
    @extend .pink_btn;

    background-color: #f47f3e;
    border-radius: 10px;
    line-height: 34px;
    height: 34px;

    @include media-breakpoint-up(md) {
      line-height: 44px;
      height: 44px;
    }
    @include media-breakpoint-up(lg) {
      line-height: 54px;
      height: 54px;
    }
    &:hover {
      background-color: darken(#f47f3e, 5%);
    }
  }
}

section.search_form {
  padding: 25px 0 60px;

  .row > * {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 25px 50px 50px;

    form {
      display: flex;
      align-items: flex-end;

      @include media-breakpoint-down(md) {
        display: block;
      }

      .control {
        label {
          margin: 0;
        }

        input, select {
          border: 1px solid #e0e0e0;
          padding: 0 8px;
        }

        @include media-breakpoint-down(md) {
          display: block;
          padding: 0;
          margin-bottom: 15px;
        }
      }

      input[type="submit"] {
        height: 2.8rem;
        line-height: 2.8rem;
        background-color: #15335a;
        padding: 0 1.8em;
        border: none;

        @include media-breakpoint-down(md) {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

ul.stl-properties {
  @extend .row;

  &.view-grid li {
    @extend .col-md-6;
    @extend .col-lg-4;

    & > a .details {
      padding: 20px 20px 55px;

      .description {
        display: none;
      }

      .bottom {
        position: absolute;
        bottom: 20px;
      }
    }
  }
  &.view-list {
    margin: 0;

    li {
      @extend .col-12;

      & > a {
        @extend .row;

        .thumbnail {
          @extend .col-12;
          @extend .col-md-4;
          @extend .pl-md-0;
        }
        .details {
          @extend .col-12;
          @extend .col-md-8;

          padding: 20px 15px;

          .description {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }

  li {
    list-style: none;
    margin-bottom: 30px;

    & > a {
      position: relative;
      display: block;
      height: 100%;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.25);
      text-decoration: none;

      &:hover {
        box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.25);

        .title {
          color: #f47f3e;
        }
      }

      .thumbnail,
      .details {
        width: 100%;
      }

      .thumbnail img {
        width: 100%;
        height: auto;
      }

      .details {
        .title {
          font-size: 20px;
        }

        .bottom {
          font-size: 18px;

          & > * {
            display: inline-block;

            &:not(:last-of-type) {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
.propertyhive-views {
  ul {
    margin: 0;

    .grid-view,
    .list-view,
    .map-view {
      display: inline-block;
      list-style: none;
      font-size: 1.5rem;

      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
      &.active {
        a {
          color: #f47f3e;
        }
      }
    }
  }
}

body.home {
  .featured_properties {
    padding-top: 40px;

    .title {
      margin-bottom: 30px;
    }
  }

  section.welcome {
    padding: 30px 0;

    .row {
      align-items: center;

      & > *:first-of-type {
        @include media-breakpoint-down(sm) {
          padding-bottom: 30px;
        }
      }
    }
  }

  section.cta {
    background-color: #17335a;
    color: #fff;
    padding: 5% 0;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      padding: 5%;
    }

    .title {
      color: #fff;
    }

    .w-btn {
      @include media-breakpoint-down(lg) {
        font-size: 0.9rem !important;
        padding: 0.8rem 1.3rem !important;
      }
    }

    .row {
      align-items: center;

      & > *:last-of-type {
        margin-top: 1.5rem;

        @include media-breakpoint-up(md) {
          margin: 0;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  section.service {
    position: relative;
    color: #fff;
    padding: 40px 0;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      padding: 80px 0;
    }
    & > .image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .overflow {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,0.4);
    }
    .item {
      text-align: center;

      &:not(:last-of-type) {
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }
      }
      .head {
        text-decoration: none;

        .icon {
          display: inline-block;
          height: 100px;
          width: 100px;
          border-radius: 50%;
          background-color: #f47f3e;
          font-size: 46px;
          color: #fff;

          i {
            line-height: 100px;
          }
        }
        .title {
          color: #fff;
          margin-bottom: 10px;
        }
        &:hover {
          .icon {
            box-shadow: 0 -1px 0 rgba(0,0,0,0) inset, 0 2px 3px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.3);
          }
          .title {
            color: #f47f3e;
          }
        }
      }
    }
  }
}