.landlords {
  word-break: break-word;

  .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #f47f3e;
    font-size: 26px;
    text-align: center;

    i {
      line-height: 60px;
      color: #fff !important;
    }
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0) inset, 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
    }
  }
  .title {
    font-weight: lighter;
    padding-top: 0;
  }
  .link {
    text-decoration: none;

    &:hover, &:hover * {
      color:  #f47f3e;
    }
  }
}

