.single-property {
  #content {
    padding: 40px 0;

    @include media-breakpoint-up(lg) {
      padding: 80px 0;
    }
  }
  .property-header {
    background-color: #262626;
    padding: 40px 0;

    .first-col {
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: right;
      }
    }
    .property_title {
      display: inline-block;
      font-size: 24px;
      color: #fff;
      margin: 0 22px 0 0;
    }
    .price {
      display: inline-block;
      font-size: 24px;
      color: rgba(255,255,255,0.66);
    }
  }
  .left-col {
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
      margin: 0;
      padding-right: 0;
    }
  }
  .right-col {
    @include media-breakpoint-up(lg) {
      padding-left: 6%;
    }
  }
  .availability {
    display: inline-block;
    background: #F1F1F1;
    padding: 10px;
    text-transform: uppercase;
    font-size: 11px;
  }
  .w-separator {
    margin: 25px 0;
  }
}