.stamp-duty-calculator {
  .text {
    margin-bottom: 20px;
  }
  form {
    font-size: 20px;
    font-weight: bold;

    .row {
      & > * {
        margin-bottom: 15px;
      }
    }
    input[type="submit"] {
      @extend .pink_btn;

      background-color: #f47f3e;
      border-radius: 10px;
    }
  }

  .info-block {
    position: relative;

    .info-icon {
      cursor: pointer;
      font-size: 22px;
      color: #f47f3e;

      & ~ .info {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        right: 20px;
        width: 300px;
        max-width: 100vw;
        padding: 15px;
        border: 1px solid #333;
        z-index: 1;
        background-color: #fff;
      }
      //&:hover ~ .info,
      &.active ~ .info {
        display: block;
      }
    }
    .info-close {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-30%) translateX(30%);
      z-index: 2;
      font-size: 22px;
      display: inline-block;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      color: #f47f3e;
    }
  }
  .box {
    margin: 60px 0 30px;
    background-color:#EEEFF1;
    padding: 20px;
  }
}