/*
  External styles
 */

/* Fontawesome 5 Pro */
@import 'fontawesome-pro/fontawesome';
@import 'fontawesome-pro/fa-solid';
@import 'fontawesome-pro/fa-brands';
@import 'fontawesome-pro/fa-regular';
@import 'fontawesome-pro/fa-light';

.fab {
  font-family: 'Font Awesome 5 Brands' !important;
}
.fal, .far, .fa, .fas {
  font-family: 'Font Awesome 5 Pro' !important;
}
.fal {
  font-weight: 300 !important;
}
.far {
  font-weight: 400 !important;
}
.fa, .fas {
  font-weight: 900 !important;
}

/* Bootstrap 4 */

// Custom variables
@import 'variables/bootstrap';

@import "functions";
@import "variables";
@import 'root';
@import 'mixins';
@import 'reboot';
@import 'type';
//@import 'images';
//@import 'code';
@import 'grid';
//@import 'tables';
//@import 'forms';
//@import 'buttons';
//@import 'transitions';
//@import 'dropdown';
//@import 'button-group';
//@import 'input-group';
//@import 'custom-forms';
//@import 'nav';
//@import 'navbar';
//@import 'card';
//@import 'breadcrumb';
//@import 'pagination';
//@import 'badge';
//@import 'jumbotron';
//@import 'alert';
//@import 'progress';
//@import 'media';
//@import 'list-group';
//@import 'close';
//@import 'modal';
//@import 'tooltip';
//@import 'popover';
//@import 'carousel';
@import 'utilities';
//@import 'print';

/*
  Custom styles
 */

.container-fluid {
  max-width: 1280px;

  @include media-breakpoint-up(md) {
    padding: 0 40px;
  }
}

@import 'components/buttons';
@import 'components/header-second';
@import 'components/sidebar';
@import 'components/inputs';
@import 'components/miniature';
// fancybox
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min';

@import 'components/scrollbar';
@import 'components/popups';
@import 'components/form-free-property-valuation';
@import 'components/meet_our_team';
@import 'components/reviews';
@import 'components/testimonials';

@import 'pages/home';
@import 'pages/property';
@import 'pages/landlords';
@import 'pages/stamp-duty-calculator';



.propertyhive-pagination {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}